
.body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(89.97deg, #A18CED 4.2%, #DCB7D4 92.17%);
    color: white;



    .container {
        display: flex;
    }
}